.navbar-nav > li {
    padding: 0 15px;
}

/* settings for BS5. Reverted to BS4
div.btn-group{ 
    position: fixed;
    right: 90px;
}

.form-inline{
    position:fixed;
    right:300px;
} */

.carousel-item{
    height:32rem;
    background:#255;
    color:white;
    position: relative;

}

.sliderContainer{
    position:absolute;
    bottom:0;
    left:300px;
    right:0;
    padding-bottom:50px;

}

.controller-image{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-position: bottom;
    background-size:cover;
    

}

.authlogindis{
    color: rgb(161, 235, 232);
    margin-right: 10px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
/* 
.container1{
    margin: auto;
    position:absolute;
    width: 30%;
    top: 50%;
    border: 5px solid #00FFFF;
    padding: 30px;
} */

.container1 {
    background: #CCCCCC;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("triangles-login.png");
}

.container2 {
background: #FFFFFF;
position: absolute;
padding: 50px;
top: 380px;
left: 850px;
width: 30%;
transform: translate(-50%, -50%);
margin-top: auto;
margin-bottom: auto;
background-color: rgba(0,0,0,0.5) !important;
}

.Header1Login h1{
    color:white
}
.form-group label{
    color:white
}

.SocialLoginText{
    color:white
}




.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}
    
.social_icon span:hover{
color: white;
cursor: pointer;
}

    
.social_icon{
position: absolute;
right: 20px;
top: -45px;
}