{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}

{% block title_block %}
About Rango
{% endblock %}

{% block about_ext %}
 active
{% endblock %}

{% block body_block %}
<div class="container"> 
    <br />
    <h1>About Us</h1>
    <div>
        <p>Visits: {{ visits }}</p>
        
        <p>  GadgetGateway is a social news and opinions website focusing on technology products. It features user posted threads about laptops, smartphones, wearables, headphones and gadgets. Threads are ranked based on popularity of views and upvotes, as vote by other registered members. Members can submit their own comments and reviews for each product as well as searching for what they looking for based on the implemented search engine. This gives the opportunity to the users to find the best products based on their interest, by reading reviews, comments and trends by people’s opinion.</p>


        <p>The site was created by Yu-Sung Hsu, Anamika Maurya, Jun Jie Low and Theodoros Vrakas in August 2021. It developed as a project of Internet Technology module for University of Glasgow, functioning as a real-world website based on the Django framework.</p>
    </div>

    <h2>Contact Us</h2>

    <div>
        <p>If you'd like to contact us, please email us at <a href="mailto:gadgetgateway@gg.com">gadgetgateway@gg.com</a></p>

        <p>Our headquarters are located in Glasgow, Scotland but the editorial staff works remotely around the world.</p>

        GadgetGateway.com <br /> 
        Tall Tower For Successful Companies<br />
        Cooperage Place 85<br />
        Floor 13<br />
   
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </div>
</div>
{% endblock %}