<!DOCTYPE html>
{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block%}
    <div class="container">
    {% if category %}
        <h1>{{category.name}}</h1>
        {% if products %}
            <div class="card-group">
                {% for product in page_obj.object_list %}
                <div class="card">
                    <a href="{%  url 'gadgetgateway:view_product' category.slug product.slug %}"  style="text-decoration:none">
                        <img class="card-img-top" src= "{{ MEDIA_URL}}{{ product.image }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ product }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <button type="button" class="btn btn-outline-info mr-2">View/Add Review</button>
                            <button type="button" class="btn btn-outline-info mr-2">{{ product.views }} <i class="fa fa-eye"></i></button>
                            {% if product.get_satisfactory_rate >= 0 %}
                            <button type="button" class="btn btn-outline-info mr-2"><i class="fa fa-thumbs-up"></i> {{ product.get_satisfactory_rate }}</button>
                            {% else %}
                            <button type="button" class="btn btn-outline-danger mr-2"><i class="fa fa-thumbs-down"></i> {{ product.get_satisfactory_rate }}</button>
                            {% endif %}

                        </div>
                    </a>
                </div>
                {%  endfor %}
            </div>
            <br/>
            <div>
            {% if products.paginator.num_pages > 1 %}
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">Previous</a>
                {% endif %}
                <span>Page {{ products.number }} of {{ products.paginator.num_pages }}</span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">Next</a>
                {% endif %}
            {% endif %}
        </div>
        <br />
        {% else %}
        <strong>No product currently in category.</strong> <br/>
        {% endif %}

        {% if user.is_authenticated %}
            <div>
                <button type="button" class="btn btn-outline-info">
                    <a href="{% url 'gadgetgateway:add_product' category.slug %}" style="text-decoration:none">Add Product</a> </div>
                </button>
        {% endif %}
    {% else %}
        <strong> The specified category does not exist. </strong>
    {% endif %}
    </div>
{% endblock %}