{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block index_ext %}
 active
{% endblock %}

{% block body_block %}
<div class="jumbotron text-center">
    <h1>GadgetGateway</h1>
    <div>
        {% if user.is_authenticated %}
            Welcome, {{ user.username }}!
        {% else %}
            Welcome to GadgetGateway!
        {% endif %}
        <br />
    </div>
</div>
<div class="container">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h2>Most Liked Products</h2>
                {% if most_liked %}
                    <ul>
                        {% for item in most_liked %}
                            <li>
                                {{ item.name }} (Likes: {{ item.votes }})
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no most liked products (sniff sniff)</strong> 
                {% endif %}
            </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h2>Most Viewed Products</h2>
            {% if most_viewed %}
                <ul>
                    {% for item in most_viewed %}
                        <li>
                            {{ item.name }} (Views: {{ item.views }})
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no most_viewed products (yay)</strong> 
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}