{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}
{% load socialaccount %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div class="container1">
        <h1>Login to GadgetGateway</h1>
        <form id="login_form" method="post" action="{% url 'gadgetgateway:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" value="" size="50" />
                
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" value="" size="50" />
            </div>
            <input class="btn btn-success" type="submit" value="Login" /><br/><br/>
            
            <p>Alternatively,</p>
            <label for="GoogleLogin">Login with your social account!</label>
            <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a>
            <!-- {% include "socialaccount/snippets/provider_list.html" with process="login" %} -->
        </form>
    </div>
{% endblock %}