{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}
{% load socialaccount %}

{% block title_block %}
    Login
{% endblock %}


{% block body_block %}

    <div class="container1 py-5 mb-5">
        <div class="container2 py-2 mb-2">
            <div class="Header1Login">
                <h1>Login to GadgetGateway</h1>
            </div>
        <form id="login_form" method="post" action="{% url 'gadgetgateway:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" value="" maxlength="20" />
                
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" value="" maxlength="20" />
            </div>
            <input class="btn btn-success" type="submit" value="Login" /><br/><br/>
            <div class="SocialLoginText">
            <!-- <p>Alternatively,</p>
            <label for="GoogleLogin">Login with your social account!</label> -->
            <!-- <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a> -->
            <!-- {% include "socialaccount/snippets/provider_list.html" with process="login" %} -->
            <div class="d-flex justify-content-end social_icon">
                <a href="{% provider_login_url 'google' %}"><span><i class="fa fa-google-plus-square"></i></span></a>
                
            </div>
        </div>
            </div>
        </form>
    </div>
    <div>
{% endblock %}
