<!DOCTYPE html>
{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block%}
    <div class="container">
    {% if category %}
        {% if product %}
            <h1>{{product.name}}</h1>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src= "{{ MEDIA_URL}}{{ product.image }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{ product.description }}</p>
                        <button type="button" class="btn btn-outline-info">View/Add Review</button>
                        <p class="card-text">{{ product.views }} <i class="fa fa-eye"></i></p>
                        <button type="button" class="btn btn-outline-info"><i class="fa fa-thumbs-up"></i> {{ product.votes }}</button>
                    </div>
                </div>
            </div>
        {% else %}
        <strong>No product currently in category.</strong> <br/>
        {% endif %}
    {% else %}
        <strong> The specified category does not exist. </strong>
    {% endif %}
    </div>
{% endblock %}