{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
{% load crispy_forms_tags %} 
    <div class="registercontainer1">
        <div class="registercontainer2">
        <div class="registerHeader">
        <h1>Register for GadgetGateway</h1> <br/>
        </div>
        {% if registered %}
            <strong>Thank you for registering!</strong>
            <a href="{% url 'gadgetgateway:index' %}">Return to the homepage.</a><br />
        {% else %}
            <form id="user_form" method="post" action="{% url 'gadgetgateway:register' %}"
                enctype="multipart/form-data">

                {% csrf_token %}
                {{user_form.username | as_crispy_field}}
                {{user_form.email | as_crispy_field}}
                {{user_form.password | as_crispy_field}}
                {{user_form.password | as_crispy_field}}

                <input class="btn btn-success" type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}