{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block%}
<div class="container">
    <h1>Search</h1>
    <form class="form-inline" id="user-form" method="post" action="{% url 'gadgetgateway:search'%}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="query" id="query" placeholder="Search Products..." />
        </div>
        <button class="btn btn-primary" type="submit" name="submit">Search</button>
    </form>
    {% if results %}
    <div class="card-columns">
        {% for product in results %}
        <div class="card">
            <a href="{%  url 'gadgetgateway:view_product' product.category.slug product.slug %}"  style="text-decoration:none">
                <img class="card-img-top" src= "{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <button type="button" class="btn btn-outline-info mr-1">View/Add Review</button>
                    <button type="button" class="btn btn-outline-info mr-1">{{ product.views }} <i class="fa fa-eye"></i></button>
                    {% if product.get_satisfactory_rate >= 0 %}
                    <button type="button" class="btn btn-outline-info mr-1"><i class="fa fa-thumbs-up"></i> {{ product.get_satisfactory_rate }}</button>
                    {% else %}
                    <button type="button" class="btn btn-outline-danger mr-1"><i class="fa fa-thumbs-down"></i> {{ product.get_satisfactory_rate }}</button>
                    {% endif %}

                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}