{% extends 'gadgetgateway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block%}
<div class="container">
    <h1>Search</h1>
    <form class="form-inline" id="user-form" method="post" action="{% url 'gadgetgateway:search'%}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="query" id="query" placeholder="Search Products..." />
        </div>
        <button class="btn btn-primary" type="submit" name="submit">Search</button>
    </form>
    {% if results %}
    <div class="row">
        {% for product in results %}
        <div class="card col-4">
                    <img class="card-img-top" src= "{{ MEDIA_URL}}{{ product.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div>
                        <small><i class="fa fa-eye"></i></button> {{ product.views }} &middot; </small>
                        {% if product.get_satisfactory_rate >= 0 %}
                        <small style="color: #17a2b8;"><i class="fa fa-thumbs-up"></i> {{ product.get_satisfactory_rate }}</small>
                        {% else %}
                        <small style="color: #dc3545;"><i class="fa fa-thumbs-down"></i> {{ product.get_satisfactory_rate }}</small>
                        {% endif %}
                        </div>
                        <div style="margin: 15px 0px;">
                            <a type="button" class="btn btn-info mr-1" href="{%  url 'gadgetgateway:view_product' product.category.slug product.slug %}">View</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}